<section class="border p-4 mb-4 d-flex align-items-center flex-column">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <select class="btn btn-primary">
        <option>select</option>
        <option>Arogya</option>
        <option>Ashwaya</option>
      </select>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse m-2" id="navbarSupportedContent">
        <!-- Left links -->
        <select class="btn btn-success m-2">
          <option>select</option>
          <option>Arogya</option>
          <option>Ashwaya</option>
        </select>
        <select class="btn btn-primary m-2">
          <option>select</option>
          <option>Arogya</option>
          <option>Ashwaya</option>
        </select>
        <select class="btn btn-primary">
          <option>select</option>
          <option>Arogya</option>
          <option>Ashwaya</option>
        </select>
        <!-- Left links -->

        <!-- Search form -->
        <div class="input-group ps-3" style="height: 36px">
          <div id="navbar-search-autocomplete" class="form-outline">
            <input type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search</label>
          </div>
          <button
            type="button"
            class="btn btn-primary"
            style="width: 40px; height: 38px"
          >
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</section>

<app-table></app-table>
