<section class="border p-4 mb-4 d-flex flex-column">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <select class="btn btn-mini" style="border-color: black">
        <option>-Plan Name-</option>
        <option>Arogya</option>
        <option>Ashwaya</option>
      </select>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse m-2" id="navbarSupportedContent">
        <!-- Left links -->

        <select class="btn btn-mini m-2" style="border-color: black">
          <option>-plan Status</option>
          <option>Arogya</option>
          <option>Ashwaya</option>
        </select>
        <select class="btn btn-mini m-2" style="border-color: black">
          <option>select</option>
          <option>Arogya</option>
          <option>Ashwaya</option>
        </select>
        <select class="btn btn-mini m-2" style="border-color: black">
          <option>select</option>
          <option>Arogya</option>
          <option>Ashwaya</option>
        </select>
        <button
          type="button"
          class="btn btn-primary"
          style="width: 114px; height: 38px"
        >
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </nav>
  <app-table></app-table>
</section>
